body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  position :fixed;
  top: 0;
  z-index: 10;
  height: 65px;
  width: 100%;
  background-color: #223134e6;
  color: #fff;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-right .login {
  display: block;
  cursor: pointer;
  line-height: 65px;
  padding: 0 25px;
  color: #fff;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  font-size: 20px;
  color: #fff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  color: #333;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 35px;
  font-size: 14px;
}

.signup {
  background-color: #239b76;
}

.btn {
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  color: #fff;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

/*モーダル*/
.signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form {
  width: 100%;
}

#signup-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 10px auto;
  cursor: pointer;
}

footer {
  padding-top: 30px;
}

footer p {
  text-align: center;
  color: #b3aeb5;
  font-size: 12px;
}
